/combo.csv
/DCT Code
/DCT2.py
/Figure_1.png
/Figure_1_Lena_origin.png
/Figure_1_lena_res.png
/Figure_1_lena_res_q10.png
/Figure_1_lena_res_q50.png
/Figure_after.png
/image.PNG
/image2.jpg
/image2.png
/image4.png
/ndct.csv
/origin.png
/original.csv
/original.jpg
/out
/out.csv
/out1.csv
/out_mean.csv
/out_size 1.csv
/out_size 2.csv
/out_size 4.csv
/out_sizex.csv
/photo converter.py
/photo_2021-02-13_18-04-19.jpg
/photo_2021-02-22_19-44-04.jpg
/revers.py
/test.PNG
/test.py
/test.txt
/test1.txt
/test12.csv
/test_1.jpeg
/test_2
/test_2.jpeg
/test_4.jpeg
/test_final.jpg
/test_gray.jpeg
/tmpajlifze6.PNG
/tmpg_9h3thv.PNG
/tmpjos7u23g.PNG